* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

nav {
  display: flex;
  height: 90px;
  padding: 20px 36px;
  box-shadow: 0px 3px 7px rgba(0,0,0,0.1);
}

.nav-logo {
  max-width: 100px;
}

section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero-photo {
  max-width: 400px;
  align-self: center;
}

.hero-header {
  margin-bottom: 16px;
  text-align: center;
}

.hero-text {
  margin-top: 0;
  text-align: center;
  font-size: 1.25rem;
}

.hero-content {
  background-color: #f3f3f3;
  margin: 10px auto 0px;
  width: 50%;
  border-radius: 5px;
}

.gray {
  color: #918E9B;
}

.card {
  max-width: 175px;
  font-size: 0.875rem;
}

.card-image {
  width: 100%;
  border-radius: 9px;
}

.card-stats {
  display: flex;
  align-items: center;
}

.card-star {
  height: 14px;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  align-items: center;
}
